$height: 2.5em;

:host {
  background: #f5b335;
  position: fixed;
  will-change: top;
  transition: top .2s ease-in-out;
  width: 100%;
  height: $height;
  top: 0;
  padding: .5em;
  box-sizing: border-box;

  &.off-canvas {
    top: -$height;
  }
}