$headerHeight: 2.5em;

:host {
  padding-top: $headerHeight + .5em;
  transition: height 3s;
  will-change: height;
  display: block;
  height: 0;
  background: #def;

  &.isOverflowing {
    height: 60em;
  }
}

header {
  background: #f5b335;
  height: $headerHeight;
  position: fixed;
  top: -$headerHeight;
  will-change: top;
  transition: top 0.2s ease-in-out;
  width: 100%;

  &.shown {
    top:0;
  }
}

.log {
  position: fixed;
  bottom: 0;
  background: wheat;
}