:host {
  transition: height 3s;
  will-change: height;
  display: block;
  height: 0;
  background: #def;

  &.isOverflowing {
    height: 60em;
  }
}

header {
  height: 2em;
  background: lightgreen;

  &.fixed {
  }
}

.log {
  position: fixed;
  bottom: 0;
  background: wheat;
}